body {
  background-image: url("pngtree-line-of-parked-motorcycles-picture-image_3176176.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin-bottom: 20px;
}

.footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}
